absl-py==0.13.0
altgraph==0.17
appdirs==1.4.4
argon2-cffi==20.1.0
asgiref==3.4.1
astunparse==1.6.3
async-generator==1.10
attrs==21.2.0
auto-py-to-exe==2.9.0
autopep8==1.5.7
backcall==0.2.0
beautifulsoup4==4.9.3
bleach==3.3.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
clang==5.0
click==8.0.1
colorama==0.4.4
cycler==0.10.0
decorator==5.0.9
defusedxml==0.7.1
distlib==0.3.2
Django==3.2.6
Eel==0.12.4
entrypoints==0.3
filelock==3.0.12
Flask==2.0.1
Flask-Login==0.5.0
Flask-MySQL==1.5.2
Flask-MySQLdb==0.2.0
Flask-SQLAlchemy==2.5.1
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gcloud==0.17.0
gevent==21.1.2
gevent-websocket==0.10.1
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
greenlet==1.1.0
grpcio==1.39.0
gunicorn==20.1.0
h5py==3.1.0
httplib2==0.19.1
idna==2.10
ipykernel==5.5.5
ipython==7.24.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
jws==0.1.3
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.2
mistune==0.8.4
MouseInfo==0.1.3
mutagen==1.45.1
mysql-connector-python==8.0.25
mysqlclient==2.0.3
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.0
numpy==1.19.5
oauth2client==3.0.0
oauthlib==3.1.1
opencv-python==4.5.2.54
opt-einsum==3.3.0
packaging==20.9
pandas==1.3.2
pandocfilters==1.4.3
parso==0.8.2
pefile==2021.5.24
pickleshare==0.7.5
Pillow==8.2.0
prometheus-client==0.11.0
prompt-toolkit==3.0.19
protobuf==3.17.3
psycopg==3.0b1
psycopg2==2.9.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycodestyle==2.7.0
pycparser==2.20
pycryptodome==3.4.3
pygame==2.0.1
PyGetWindow==0.0.9
Pygments==2.9.0
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
pyperclip==1.8.2
pypng==0.0.20
PyQRCode==1.2.1
Pyrebase==3.0.27
PyRect==0.1.4
pyrsistent==0.17.3
PyScreeze==0.1.27
python-dateutil==2.8.1
python-jwt==2.0.1
PyTweening==1.0.3
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
pywinpty==1.1.2
PyYAML==5.4.1
pyzbar==0.1.8
pyzmq==22.1.0
qtconsole==5.1.0
QtPy==1.9.0
requests==2.11.1
requests-oauthlib==1.3.0
requests-toolbelt==0.7.0
rsa==4.7.2
scipy==1.7.1
seaborn==0.11.2
Send2Trash==1.5.0
six==1.15.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
sqlparse==0.4.1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
terminado==0.10.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
traitlets==5.0.5
turtle==0.0.1
typing-extensions==3.7.4.3
urllib3==1.26.5
virtualenv==20.4.7
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zope.event==4.5.0
zope.interface==5.4.0
