{% extends "base.html" %}
{% block title %}Update Post Page{% endblock title %}

{% block content %} 
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Edit Post</a>
            <a href="/admin" class="btn-login btn">Back</a>
        </div>
    </nav><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-12"><br>
                <form action="/update_post/{{ post.post_id }}" method="POST" enctype="multipart/form-data">
                    <dl>
                        <p>
                            <label class="form-label">Upload Image</label>
                            <input type="file" name="file" value="{{ url_for('static', filename='images/' + post.picture) }}" class="form-control" autocomplete="off">
                        </p>
                    </dl>
                    <div class="mb-3">
                        <label for="message" class="form-label">Message</label>
                        <input name="message" class="form-control" value="{{ post.messages }}" cols="30" rows="10">
                        </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
