{% extends "base.html" %}
{% block title %}Home Page{% endblock title %}

{% block content %}

    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Happy Birthday {{ user }}!</a>
            <a href="/gallery" class="btn-login btn">Go to Gallery-></a>
            <a href="/logout" class="btn-login btn">Logout</a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            {% for post in list_post %}
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-inner">
                            <div class="card-face card-face-front">
                                <img src="{{ url_for('static', filename='images/' + post.picture) }}" class="pic">
                            </div>
                            <div class="card-face card-face-back">
                                <div class="card-content">
                                    <div class="card-body">
                                        <p>{{ post.messages }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div><br>
    
{% endblock content %}
